const fiatSymbols = [
  'KRW/SDR',
  'KRW/USD',
  'KRW/MNT',
  'KRW/EUR',
  'KRW/CNY',
  'KRW/JPY',
  'KRW/GBP',
  'KRW/INR',
  'KRW/CAD',
  'KRW/CHF',
  'KRW/HKD',
  'KRW/AUD',
  'KRW/SGD',
  'KRW/THB',
]

module.exports = {
  port: 8532,
  lunaProvider: {
    adjustTvwapSymbols: ['LUNA/KRW', 'LUNA/USDT'],
    //bithumb: { symbols: ['LUNA/KRW'] },
    coinone: { symbols: ['LUNA/KRW'] },
    huobi: { symbols: ['LUNA/USDT'], krwPriceFrom: 'USDT' },
    binance: { symbols: ['LUNA/USDT'], krwPriceFrom: 'USDT' },
    gateio: { symbols: ['LUNA/USDT'], krwPriceFrom: 'USDT' },
  },
  cryptoProvider: {
    adjustTvwapSymbols: ['BTC/KRW', 'USDT/USD'],
    upbit: { symbols: ['BTC/KRW'] },
    //bithumb: { symbols: ['BTC/KRW'] },
    binance: { symbols: ['BTC/USDT'] },
    huobi: { symbols: ['LUNA/USDT'] },
    bitfinex: { symbols: ['USDT/USD'] },
    kraken: { symbols: ['USDT/USD'] },
  },
  fiatProvider: {
    {{ fiat_provider }}: {
      symbols: fiatSymbols,
      interval: 60 * 1000,
      timeout: 5000,
      apiKey: '{{ api_key }}', // necessary
    },
    exchangerate: {
      symbols: fiatSymbols,
      interval: 60 * 1000,
      timeout: 5000,
      // https://exchangerate.host/
    },
  },
}
